*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.up-btn {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: 91%;
    right: 20px;
    cursor: pointer;
}

.active {
    display: block;
}

.inactive {
    display: none;
}


.container {
    max-width: 1243px;
    margin: 0 auto;
}
.banner {
    width: 100%;
    height: 100vh;
    padding-top: 60px;
}

.banner__navigation {
    overflow: hidden;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.banner__logo {
    display: inline-block;
    float: left;
    width: 150px;
    margin: 0 40px;
    font-size: 36px;
    font-family: Montserrat, serif;
}

.banner__logo p {
    width: 100%;
    overflow: hidden;
}

.banner__logo:hover p {
    animation: App-logo-anim ease-in-out 1s alternate backwards;
}


.banner__menu {
    display: inline-block;
    margin: 10px auto;
    float: right;
    animation: moveInRight 1s ease-in-out;
}

.banner__menu__button{
    display: none;
}

.banner__menu__menu-item {
    float: left;
    margin-left: 40px;
    font-family: Work Sans, sans-serif;
    font-weight: 500;
    cursor: url("../img/hand-cursor.png"), auto;
}

.banner__menu__menu-item a {
    text-decoration: none;
    color: inherit;
    cursor: url("../img/pointer.png"), pointer;
}

.banner__menu__menu-item:after {
    content: '';
    display: block;
    margin-top: 10px;
    height: 2px;
    width: 0;
    background: #c31e3c;
    transition: all ease-in .3s;
}

.banner__menu__menu-item:hover:after{
    width: 100%;
}


.banner__intro {
    overflow: hidden;
}

.banner__intro__slogan {
    margin: 10% 10%;
    width: 500px;
    animation: moveInBottom 1s ease-in-out;
}

.banner__intro__slogan__slogan-header {
    font-family: Leckerli One, sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.banner__intro__slogan__slogan-body h1 {
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 50px;
}

.banner__intro__slogan__slogan-body h3 {
    margin-top: 5px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.banner__intro__slogan__slogan-body p {
    font-family: Cambay, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0;
}


.btn {
    border: none;
    height: 50px;
    padding: 0 2em;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.banner__intro__slogan__slogan-footer {
    overflow-x: hidden;
}

.btn:active {
    transform: scale(0.95);
}

.btn--pink {
    background: #c31e3c;
    transition: ease-in .3s;
}

.btn--pink:hover {
    background: #ffffff;
    color:  #c31e3c;
    -webkit-box-shadow: 5px 11px 54px -13px rgba(28,187,180,1);
    -moz-box-shadow: 5px 11px 54px -13px rgba(28,187,180,1);
    box-shadow: 5px 11px 54px -13px rgba(28,187,180,1);
}

.btn--regular {
    background:  #2B2B2B;
    transition: ease-in .3s;
}

.btn--regular:hover {
    background: #ffffff;
    color:  #2B2B2B;
    -webkit-box-shadow: 5px 11px 54px -13px rgba(28,187,180,1);
    -moz-box-shadow: 5px 11px 54px -13px rgba(28,187,180,1);
    box-shadow: 5px 11px 54px -13px rgba(28,187,180,1);
}

.about {
    padding: 80px 0;
    color: inherit;
}

.description {
    margin: 0 10%;
}

.description-header {
    font-family: Leckerli One, sans-serif;
    font-weight: 500;
    font-size: 32px;
    background: none;
}

.description-body {
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.description-body .title {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.description-body .content {
    margin-left: 40px;
    margin-top: 40px;
    font-family: Cambay, sans-serif;
    font-size: 17px;
}

.skills {
    margin: 50px 0;
    padding: 50px 0;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.skill {
    flex-basis: 30%;
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.skill-content {
    display: inline-block;
    float: right;
    padding-left: 30px;
    width: 80%;
}

.skill-content .title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.skill-content .content {
    font-family: Cambay, sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.social {
    text-align: center;
}

.social-text {
    font-family: Cambay, sans-serif;
}

.icon {
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-left: 29px;
}

.facebook {
    background: url("img/facebook.svg") center center / 14px 23px no-repeat;
}

.twitter {
    background: url("img/twitter.svg") center center / 19px 23px no-repeat;
}

.github {
    background: url("img/github.svg") center center / 22px 25px no-repeat;
}

.linked-in {
    background: url("img/linked-in.svg") center center / 25px 22px no-repeat;
}


.portfolio-header {
    margin: 60px 10%;
}

.portfolio-header .title {
    font-family: Leckerli One, sans-serif;
    font-size: 32px;
}

.portfolio-header .content .left {
    display: inline-block;
    float: left;
    width: 40%;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.portfolio-header .content .right {
    display: inline-block;
    float: right;
}

.grey {
    background: #1CBBB4;
}

.grey:hover {
    background: #252525;
    -webkit-box-shadow: 5px 11px 54px 5px rgba(28,187,180,1);
    -moz-box-shadow: 5px 11px 54px 5px rgba(28,187,180,1);
    box-shadow: 5px 11px 54px 5px rgba(28,187,180,1);
}

.clients {
    text-align: center;
    overflow: hidden;
    color: inherit;
}

.clients-header {
    padding-top: 80px;
}

.clients-header .title {
    font-family: Leckerli One, sans-serif;
    font-size: 32px;
}

.clients-header .content {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.clients-slider {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    height: 170px;
}

.slide
{
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide-track {
    list-style: none;
    height: 100%;
}


.arrow-icon {
    position: absolute;
    top: 50%;
    height: 12px;
    width: 12px;
    transform: translateY(-50);
    cursor: pointer;
    z-index: 10;
}


.next {
    right: 0;
    background: url("img/next.svg") center center / 12px 12px no-repeat ;
}

.previous {
    left: 0;
    background: url("img/previous.svg") center center / 12px 12px no-repeat ;
}

.is-hidden {
    display: none;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    font-family: Coustard, sans-serif;
    font-weight: 400;
}

.heading:before {
    content: '';
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-right: 5px;
    background: url("img/quote-left.svg") center center / 10px 10px  no-repeat;
}

.heading:after {
    content: '';
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-left: 5px;
    background: url("img/quote-right.svg") center center / 10px 10px  no-repeat;
}

.avatar {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
}

.slide-content .body {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.client {
    display: inline-block;
    float: left;
}

.client .client-name {
    font-family: Montserrat, sans-serif;
    color: #FFFF00;
}

.client .client-title {
    font-family: Cambay, sans-serif;
    font-size: 15px;
}

.contact {
    padding-bottom: 50px;
}

.contact .container {
    padding-top: 100px;
    margin: 0 10%;
}

.contact-container button {
    float: right;
    margin-right: 23px;
}

.contact-header {
    font-family: Leckerli One, sans-serif;
    font-size: 32px;
    background: none;
}

.contact-container {
    overflow: hidden;
}

.contact-container h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}

.contact-container .right {
    display: inline-block;
    float: right;
    width: 50%;
}

.contact-container .left {
    display: inline-block;
    float: left;
    width: 50%;
}

.contact-container .label {
    display: inline-block;
    font-family: Cambay, sans-serif;
}

.contact-container p {
    font-family: Cambay, sans-serif;
    color: inherit;
}

.text-input {
    border: 1px solid transparent;
    border-radius: 40px;
    height: 40px;
    padding: 0 30px;
    margin: 10px;
    width: 45%;
    font-family: Cambay, sans-serif;
    color: inherit;
    transition: all ease-in .3s;
}





.textarea-input  {
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 10px;
    padding: 20px 30px;
    width: 95%;
    font-family: Cambay, sans-serif;
    color: #fff;
    transition: all ease-in .3s;
}



textarea{
    resize: none;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes anim-border {
    0% {
    }
    10%{
        border-left-color: black;
    }
    25% {
        border-left-color: black;
        border-top-color: black;
    }
    50% {
        border-left-color: black;
        border-right-color: black;
        border-top-color: black;
    }
    100% {
        border-color: black;
    }
}

@media only screen and (max-width: 1032px) {
    .banner {
        padding-top: 10px;
        height: auto;
    }

    .banner__navigation {
        overflow: initial;
        width: 100%;
    }

    .banner__logo {
        margin: 0 0 0 50px;
        display: block;
        float: initial;
    }

    .banner__menu {
        position: absolute;
        top: 0;
        height: 100vh;
        display: block;
        float: initial;
        transform: translateY(-150%);
        transition: transform 1s ease-in;
        width: 100%;
    }

    .active {
        transform: translateY(0);
    }

    .banner__menu__menu-item {
        display: block;
        width: 100%;
        height: 50px;
        margin-left: 0;
        text-align: center;
    }
    .banner__menu__button{
        display: block;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid red;
        animation: anim-border 1s infinite 2s;
        animation-direction: alternate;
        cursor: pointer;
    }
    .description-body {
        display: initial;
    }

    .skill-container {
        display: initial;
    }

    .skills {
        overflow: hidden;
    }

    .skill {
        margin: 0 10px 50px 10px;
    }

    .contact-container .left {
        display: block;
        float: initial;
        width: 100%;
    }
    .contact-container .right {
        display: block;
        float: initial;
        width: 100%;
    }

    .skill-content {
        padding-left: 0;
    }
    .text-input {
        width: 95%;
    }
}


.theme-buttons {
    position: absolute;
    right: 5px;
    top: 10px;
}

#dayIcon {
    position: relative;
    width: 16px;
    height: 16px;
    top: -3px;
    margin: 0 7px;
    fill: #d23669;
}

#nightIcon {
    position: relative;
    width: 16px;
    height: 16px;
    top: -3px;
    margin: 0 7px;
    fill: #d23669;
}

#dayIcon, #nightIcon {
    cursor: pointer;
}

.toggle {
    display: none;
}

.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
    background: none;
}

.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
    background: none;
}

.toggle + .toggle-button {
    outline: 0;
    display: inline-block;
    width: 38px;
    height: 21px;
    position: relative;
    cursor: pointer;
    border: 2px solid #d23669;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle + .toggle-button:after, .toggle + .toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.toggle + .toggle-button:after {
    left: 0;
}

.toggle + .toggle-button:before {
    display: none;
}

.toggle:checked + .toggle-button:after {
    left: 50%;
}

.toggle + .toggle-button {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 2px solid rgba(156, 174, 192, 0.27);
    border-radius: 2em;
}

.toggle + .toggle-button:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: rgba(156, 174, 192, 0.27);
    content: "";
    border-radius: 1em;
    background: #d23669;
}

.toggle:checked + .toggle-button:after {
    left: 50%;
}
